<div id="cookie-banner" class="header__cookie-banner w-full flex flex-col sm:flex-row justify-between items-center absolute top-[3rem] py-3 md:py-4 px-4 md:px-7 lg:px-10 xl:px-14 bg-brand-75 text-mono-white">
    <p class="b3 mb-4 sm:mb-0">This website uses cookies to deliver you the best experience.</p>

    <div class="w-full sm:w-auto flex sm:block">
        <a href="/pages/terms" class="b3 button bg-transparent inline-block w-full sm:w-auto py-3 px-6 mr-2 sm:mr-4 hover:bg-mono-white text-mono-white hover:text-brand-75 border border-mono-white text-center transition-colors duration-300">Our Policy</a>

        <button id="accept-button" class="b3 button w-full sm:w-auto py-3 px-6 bg-mono-white hover:bg-transparent border border-mono-white text-brand-75 hover:text-mono-white transition-colors duration-300">Accept</button>
    </div>
</div>