.essentials {
  &__expander {
    &__button {
      &__icon {
        transition: 0.3s $ease-out-cubic transform;

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }

    &__content {
      transition: 0.5s $ease-out-cubic all;

      transform: translate3d(0, 0, 0);
      transform-style: preserve-3d;
      backface-visibility: hidden;

      max-height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;

      &.expanded {
        max-height: 100vh;
        padding: 1rem 0 0.5rem;
        opacity: 1;
      }
    }
  }

  &__image {
    &-container {
      padding-bottom: 80%;
    }
  }

  &__toggle {
    p {
      transition: 0.4s transform $ease-out-cubic;

      color: theme("colors.mono-75");
    }

    svg {
      transition: 0.4s opacity $ease-out-cubic;

      opacity: 0;
    }

    &.selected {
      p {
        transform: translate3d(2rem, 0, 0);

        color: theme("colors.mono-100");
      }

      svg {
        opacity: 1;
      }
    }
  }
}
