.footer {
  &__link {
    @include hoverable {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  //

  svg {
    width: 100%;
    height: 26px;

    @include md {
      width: 66.666667%;
      height: auto;
    }
  }
}
