.footer {
  &__link {
    @include hoverable {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  //

  svg {
    height: 26px;

    @include md {
      height: 14px;
    }
  }
}
