.header {
  &__cart-text {
    margin-top: -2px;
  }

  &__widget {
    transition: 0.3s opacity $ease-out-cubic, 0.3s transform $ease-out-cubic;

    opacity: 0;
    pointer-events: none;

    transform: translate3D(0, calc(-100% + 3rem), 0);

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: translate3D(0, 3rem, 0);
    }
  }

  &__cookie-banner {
    transition: 0.3s opacity $ease-out-cubic, 0.3s transform $ease-out-cubic;

    opacity: 0;
    pointer-events: none;
    transform: translate3D(0, 0, 0);

    &.active {
      opacity: 1;
      pointer-events: auto;
      animation: appear 0.3s;
    }
  }

  // cart svg
  svg {
    height: 20px;
  }

  &__logo {
    svg {
      height: 12px !important;

      @include md {
        height: 20px !important;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
