.header {
  height: 48px;

  &__cart-text {
    margin-top: -2px;
  }

  &__widget {
    transition: 0.3s opacity $ease-out-cubic, 0.3s transform $ease-out-cubic;

    opacity: 0;
    transform: translate3d(0, -2rem, 0);

    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  // &__subheading {
  //   margin-top: -2px;
  // }

  svg {
    height: 20px;
  }
}
