.main-product {
  padding-top: 48px;

  &__brush-head {
    width: 300%;
    max-width: none;
    margin-top: 250%;
    margin-right: 70%;
  }

  &__compare-at {
    opacity: 0.3;
  }

  &__description {
    p {
      margin-bottom: 0.75rem;
    }
  }

  &__expander {
    &.expanded {
      .main-product__expander__text {
        max-height: 100vh;
        padding: 1rem 0 1rem;
        opacity: 1;
      }
    }

    &__text {
      transition: 0.5s $ease-out-cubic all;

      transform: translate3d(0, 0, 0);
      transform-style: preserve-3d;
      backface-visibility: hidden;

      max-height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
    }
  }

  &__gallery {
    $spacing: 0.5rem;

    &__item {
      margin-bottom: $spacing;

      &--half {
        width: calc(50% - #{$spacing / 2});
        padding-bottom: 66%;
      }

      &--full {
        width: 100%;
        padding-bottom: 50%;
      }
    }
  }

  &__input {
    &--number {
      -moz-appearance: textfield;
      appearance: none;
      background: transparent;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &__quantity-adjust {
    transition: 0.15s $ease-out-cubic background, 0.15s $ease-out-cubic color,
      0.15s $ease-out-cubic opacity;

    background: transparent;
    color: theme("colors.mono-100");
    border: 1px solid transparent;

    @include hoverable {
      &:hover {
        background: theme("colors.mono-100");
        color: theme("colors.mono-white");
      }
    }
  }

  &__pack {
    border-radius: 10px;

    &__content {
      width: calc(100% - 72px);
    }
  }

  &__variant-picker {
    &.active {
      .main-product__variant-picker__button {
        border: 1px solid black;
      }
    }

    &__button {
      padding: 2px;
    }
  }
}
