@keyframes unblur {
  from {
    filter: blur(24px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes background-drop {
  from {
    transform: translate3d(0, -5vw, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes text-rise-xs {
  from {
    transform: translate3d(0, 20vw, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes text-rise {
  from {
    transform: translate3d(0, 3vw, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.parallax-blur-banner {
  height: calc(100vh - 3rem);
  margin-top: 3rem;

  @include md {
    min-height: 768px;
  }

  //

  &__background {
    animation: 1500ms $ease-out-cubic background-drop forwards;
    animation-delay: 500ms;

    transform: translate3d(0, -5vw, 0);
    opacity: 0;
  }

  &__container {
    animation: 2000ms $ease-out-cubic unblur forwards;

    filter: blur(24px);
    opacity: 0;
  }

  &__text {
    animation: 1000ms $ease-out-cubic text-rise-xs forwards;

    transform: translate3d(0, 20vw, 0);
    opacity: 0;

    @include md {
      animation: 1000ms $ease-out-cubic text-rise forwards;

      transform: translate3d(0, 3vw, 0);
      opacity: 0;
    }
  }

  &__mobile-blur {
    height: 200%;
    top: -100%;
  }

  &__parallax {
    img {
      max-width: none;

      // @include md {
      //   margin-right: -3vw;
      // }
    }
  }
}
