<section class="attributes w-full relative pt-8 md:pt-12 pb-8 md:pb-10 bg-brand-75 text-mono-white">
  <ul class="grid">
    <li class="col-span-12 md:col-span-3 relative flex md:flex-col items-center justify-center py-3 md:py-0">
      <svg class="h-8 md:h-20 mr-2 md:mr-0 md:mb-4" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99959 15.3337C3.9495 15.3337 0.66626 12.0504 0.66626 8.00033C0.66626 3.95024 3.9495 0.666992 7.99959 0.666992C12.0497 0.666992 15.3329 3.95024 15.3329 8.00033C15.3329 12.0504 12.0497 15.3337 7.99959 15.3337ZM7.99991 14.0003C11.3136 14.0003 13.9999 11.314 13.9999 8.00031C13.9999 4.6866 11.3136 2.00031 7.99991 2.00031C4.6862 2.00031 1.9999 4.6866 1.9999 8.00031C1.9999 11.314 4.6862 14.0003 7.99991 14.0003ZM11.2736 10.2993L10.183 9.53224C9.68608 10.2387 8.87955 10.667 7.99988 10.667C7.12021 10.667 6.31368 10.2387 5.81678 9.53224L4.72617 10.2993C5.47018 11.3571 6.68151 12.0003 7.99988 12.0003C9.31825 12.0003 10.5296 11.3571 11.2736 10.2993ZM9.33279 7.33364V6.0003H10.6661V7.33364H9.33279ZM5.33279 6.0003V7.33364H6.66612V6.0003H5.33279Z" fill="white"/>
      </svg>

      <p class="w-full b1 md:text-center">100 Day Smile Guarantee</p>
    </li>

    <li class="col-span-12 md:col-span-3 relative flex md:flex-col items-center justify-center py-3 md:py-0">
      <svg class="h-8 md:h-20 mr-2 md:mr-0 md:mb-4" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9209 4.66634L12.1491 7.12284L13.9996 8.35646V10.6663H13.2197C12.9452 9.88957 12.2043 9.33305 11.3335 9.33305C10.4627 9.33305 9.72188 9.8896 9.44733 10.6664H6.55246C6.27791 9.8896 5.53708 9.33305 4.66626 9.33305C3.79546 9.33305 3.05465 9.88957 2.78008 10.6663H1.99959V4.66634H10.9209ZM13.9996 11.9997H13.2198C12.9452 12.7765 12.2044 13.3331 11.3335 13.3331C10.4627 13.3331 9.72192 12.7765 9.44735 11.9997H6.55244C6.27788 12.7765 5.53706 13.3331 4.66626 13.3331C3.79543 13.3331 3.05459 12.7765 2.78005 11.9997H1.99959C1.26321 11.9997 0.66626 11.4027 0.66626 10.6663V4.66634C0.66626 3.92996 1.26321 3.33301 1.99959 3.33301H10.9209C11.4259 3.33301 11.8876 3.61834 12.1135 4.07006L13.1834 6.20985L15.3329 7.64289V10.6663C15.3329 11.4027 14.736 11.9997 13.9996 11.9997ZM5.33324 11.3331C5.33324 11.7013 5.03476 11.9997 4.66657 11.9997C4.29838 11.9997 3.9999 11.7013 3.9999 11.3331C3.9999 10.9649 4.29838 10.6664 4.66657 10.6664C5.03476 10.6664 5.33324 10.9649 5.33324 11.3331ZM11.9997 11.333C11.9997 11.7012 11.7013 11.9997 11.3331 11.9997C10.9649 11.9997 10.6664 11.7012 10.6664 11.333C10.6664 10.9648 10.9649 10.6664 11.3331 10.6664C11.7013 10.6664 11.9997 10.9648 11.9997 11.333Z" fill="white"/>
      </svg>

      <p class="w-full b1 md:text-center">Free Shipping to the UK and US</p>
    </li>

    <li class="col-span-12 md:col-span-3 relative flex md:flex-col items-center justify-center py-3 md:py-0">
      <svg class="h-8 md:h-20 mr-2 md:mr-0 md:mb-4" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47112 10.1953L12.6664 4L13.6092 4.94281L6.47112 12.0809L2.66638 8.27614L3.60919 7.33333L6.47112 10.1953Z" fill="white"/>
      </svg>

      <p class="w-full b1 md:text-center">360 Day Warranty</p>
    </li>

    <li class="col-span-12 md:col-span-3 relative flex md:flex-col items-center justify-center py-3 md:py-0">
      <svg class="h-8 md:h-20 mr-2 md:mr-0 md:mb-4" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66658 4.66634H4.12863C5.03561 3.38547 6.40417 2.66634 7.99992 2.66634C10.9454 2.66634 13.3332 5.05416 13.3332 7.99967H14.6666C14.6666 4.31778 11.6818 1.33301 7.99992 1.33301C6.13043 1.33301 4.48332 2.12135 3.33325 3.51324V1.33301H1.99992V5.99967H6.66658V4.66634ZM9.33355 11.333H11.8715C10.9645 12.6139 9.59597 13.333 8.00022 13.333C5.0547 13.333 2.66689 10.9452 2.66689 7.99968H1.33356C1.33356 11.6816 4.31832 14.6664 8.00022 14.6664C9.86971 14.6664 11.5168 13.878 12.6669 12.4861V14.6664H14.0002V9.99968H9.33355V11.333Z" fill="white"/>
      </svg>

      <p class="w-full b1 md:text-center">Free Recycling</p>
    </li>
  </ul>
</section>