<section class="essentials w-full relative pt-16 pb-12 bg-mono-white" data-component="Essentials">
  <article class="grid">
    <header class="col-span-12 md:col-span-11 md:col-start-2 relative mb-12">
      <h2 class="h3">Essentials included with every<br/>SURI Toothbrush:</h2>
    </header>

    <div class="col-span-12 md:col-span-4 md:col-start-2 relative">
      <ul class="w-full relative block overflow-hidden">
        <li class="relative block border-t border-mono-75">
          <button class="essentials__toggle selected w-full h-16 relative block text-left" data-index="0" type="button">
            <div class="w-full relative flex items-center justify-center">
              <div class="w-4 h-full absolute top-0 bottom-0 left-0 flex items-center justify-center">
                <svg class="w-4" viewbox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" d="M14.5858 10.0001H0V8.00008H14.5858L8.29289 1.70718L9.70711 0.292969L18.4142 9.00008L9.70711 17.7072L8.29289 16.293L14.5858 10.0001Z" fill-rule="evenodd" fill="black"/>
                </svg>
              </div>

              <p class="w-full b1 text-left">1x UV-C Light Self Cleaning & Travel Charge Case</p>
            </div>
          </button>
        </li>

        <li class="relative block border-t border-mono-75">
          <button class="essentials__toggle w-full h-16 relative block text-left" data-index="1" type="button">
            <div class="w-full relative flex items-center justify-center">
              <div class="w-4 h-full absolute top-0 bottom-0 left-0 flex items-center justify-center">
                <svg class="w-4" viewbox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" d="M14.5858 10.0001H0V8.00008H14.5858L8.29289 1.70718L9.70711 0.292969L18.4142 9.00008L9.70711 17.7072L8.29289 16.293L14.5858 10.0001Z" fill-rule="evenodd" fill="black"/>
                </svg>
              </div>

              <p class="w-full b1 text-left">1x Plant Based Head</p>
            </div>
          </button>
        </li>

        <li class="relative block border-t border-mono-75">
          <button class="essentials__toggle w-full h-16 relative block text-left" data-index="2" type="button">
            <div class="w-full relative flex items-center justify-center">
              <div class="w-4 h-full absolute top-0 bottom-0 left-0 flex items-center justify-center">
                <svg class="w-4" viewbox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" d="M14.5858 10.0001H0V8.00008H14.5858L8.29289 1.70718L9.70711 0.292969L18.4142 9.00008L9.70711 17.7072L8.29289 16.293L14.5858 10.0001Z" fill-rule="evenodd" fill="black"/>
                </svg>
              </div>

              <p class="w-full b1 text-left">1x Charging Stand</p>
            </div>
          </button>
        </li>

        <li class="relative block border-t border-b border-mono-75">
          <button class="essentials__toggle w-full h-16 relative block text-left" data-index="3" type="button">
            <div class="w-full relative flex items-center justify-center">
              <div class="w-4 h-full absolute top-0 bottom-0 left-0 flex items-center justify-center">
                <svg class="w-4" viewbox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" d="M14.5858 10.0001H0V8.00008H14.5858L8.29289 1.70718L9.70711 0.292969L18.4142 9.00008L9.70711 17.7072L8.29289 16.293L14.5858 10.0001Z" fill-rule="evenodd" fill="black"/>
                </svg>
              </div>

              <p class="w-full b1 text-left">1x USB-C Cable*</p>
            </div>
          </button>
        </li>
      </ul>
    </div>

    <div class="col-span-12 md:col-span-5 md:col-start-7 relative flex items-center justify-center">
      <div class="essentials__image-container w-full h-full relative rounded-lg overflow-hidden bg-brand-50">
        <figure class="essentials__image transition-opacity-slow w-full h-full absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center" data-index="0">
          <img src="{{ 'pdp-desktop-image-card-01.png' | asset_url }}" class="w-full h-full relative block object-cover" alt="UV-C Light Self Cleaning & Travel Charge Case"/>
        </figure>

        <figure class="essentials__image transition-opacity-slow w-full h-full absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center opacity-0" data-index="1">
          <img src="{{ 'pdp-desktop-image-card-02.png' | asset_url }}" class="w-full h-full relative block object-cover" alt="Plant Based Head"/>
        </figure>

        <figure class="essentials__image transition-opacity-slow w-full h-full absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center opacity-0" data-index="2">
          <img src="{{ 'pdp-desktop-image-card-03.png' | asset_url }}" class="w-full h-full relative block object-cover" alt="Charging Stand"/>
        </figure>

        <figure class="essentials__image transition-opacity-slow w-full h-full absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center opacity-0" data-index="3">
          <img src="{{ 'pdp-desktop-image-card-04.png' | asset_url }}" class="w-full h-full relative block object-cover" alt="USB-C Cable"/>
        </figure>
      </div>
    </div>
  </article>
</section>