{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "logo",
      "label": "t:sections.footer.settings.logo.label",
      "info": "t:sections.footer.settings.logo.info"
    }
  ]
}
{% endschema %}

<footer class="footer w-full relative block pt-10 pb-36 border-black border-t bg-white text-black">
  <div class="grid">
    <div class="col-span-12 md:col-span-3 md:col-start-2 relative flex md:block items-center justify-center mb-2 md:mb-0">
      <a aria-current="page" class="py-1" href="/">
        {{ section.settings.logo }}
      </a>
    </div>

    {%- for block in section.blocks -%}
      {%- if forloop.index0 < 3 -%}
        {%- case block.type -%}
          {%- when 'link_list' -%}
            {%- for link in block.settings.menu.links -%}
              <div class="col-span-12 md:col-span-2 inline-block mt-2 md:-mt-1 text-center md:text-left">
                <a href="{{ link.url }}" rel="noopener noreferrer" target="_blank">
                  <p class="b2">{{ link.title }}</p>
                </a>
              </div>
            {%- endfor -%}
        {%- endcase -%}
      {%- endif -%}
    {%- endfor -%}

    <div class="col-span-12 md:col-span-2 inline-block mt-2 md:-mt-1 text-center md:text-left">
      <p class="b2 css-12ei76o e10g379m0">© SURI 2021</p>
    </div>
  </div>
</footer>