<section class="image-tiles w-full relative">
  <article class="grid">
    <figure class="col-span-6 md:col-span-3 relative block">
      <img src="{{ 'pdp-desktop-proof-points-01.jpg' | asset_url }}" class="w-full relative block object-cover" alt="Superior Clean"/>
    </figure>

    <figure class="col-span-6 md:col-span-3 relative block">
      <img src="{{ 'pdp-desktop-proof-points-02.jpg' | asset_url }}" class="w-full relative block object-cover" alt="Innovative Design"/>
    </figure>

    <figure class="col-span-6 md:col-span-3 relative block">
      <img src="{{ 'pdp-desktop-proof-points-03.jpg' | asset_url }}" class="w-full relative block object-cover" alt="Sustainable Materials"/>
    </figure>

    <figure class="col-span-6 md:col-span-3 relative block">
      <img src="{{ 'pdp-desktop-proof-points-04.jpg' | asset_url }}" class="w-full relative block object-cover" alt="Self-Cleaning Travel Case"/>
    </figure>
  </article>
</section>