<div id="side-cart" class="side-cart w-full h-full fixed top-0 right-0 bottom-0 left-0 z-50 pointer-events-none" data-component="SideCart" aria-hidden="true">
    <div id="side-cart-overlay" class="side-cart__overlay absolute w-full h-full bg-midnight-black-100 opacity-0 transition-all duration-300"></div>

    <nav class="side-cart__content w-full sm:w-1/2 md:w-1/3 h-full absolute right-[-100%] sm:right-[-50%] md:right-[-33.33%] pt-10 pl-5 pr-8 bg-mono-white overflow-y-scroll transition-all duration-300">
        <div class="relative w-full">
            <header class="relative w-full flex justify-between">
                <h2>Cart</h2>

                <button id="side-cart-close" class="b3" >Close</button>
            </header>

            <ul id="side-cart-list-items" class="relative w-full">
                <li class="relative w-full border-b">Item</li>
                <li class="relative w-full border-b">Item</li>
                <li class="relative w-full border-b">Item</li>
                <li class="relative w-full border-b">Item</li>
                <li class="relative w-full border-b">Item</li>
                <li class="relative w-full border-b">Item</li>
            </ul>
        </div>

        <div class="w-full absolute left-0 bottom-0 right-0 pt-4 pl-5 pr-8 pb-5 border-t border-midnight-black-50 bg-mono-white">
            <div class="relative w-full flex justify-between mb-8">
                <h3>Total</h3>

                <p>$0,000.00</p>
            </div>

            <button class="relative w-full py-3 bg-midnight-black-100 text-mono-white">Checkout</button>
        </div>
    </nav>
</div>