{% schema %}
{
  "name": "Text Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }, {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    }
  ],
  "templates": [
    "index",
    "page"
  ]
}
{% endschema %}

<section class="text-section w-full relative block pt-12 pb-12 bg-mono-100 text-mono-white">
  <article class="grid">
    <header class="col-span-4 col-start-2">
      <p class="h3">{{ section.settings.heading }}</p>
    </header>
    
    <div class="col-span-4 col-start-7">
      <p class="b1">{{ section.settings.body }}</p>
    </div>
  </article>
</section>