@font-face {
  font-family: "Plain";
  src: url("./fonts/plain-light.woff") format("woff"),
    url("./fonts/plain-light.ttf") format("truetype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("./fonts/plain-ultralight.woff") format("woff"),
    url("./fonts/plain-ultralight.ttf") format("truetype");
  font-display: block;
  font-weight: 200;
  font-style: normal;
}

//

.d1 {
  font-family: "Plain";
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0;
}

.h1 {
  font-family: "Plain";
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
}

.h2 {
  font-family: "Plain";
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0;
}

.h3 {
  font-family: "Plain";
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
}

//

.b1 {
  font-family: "Plain";
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
}

.b2 {
  font-family: "Plain";
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

.b3 {
  font-family: "Plain";
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
}

.caption {
  font-family: "Plain";
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0;
}

.button-text {
  font-family: "Plain";
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1024px) {
  .d1 {
    font-family: "Plain";
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0;
  }

  .h1 {
    font-family: "Plain";
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
  }

  .h2 {
    font-family: "Plain";
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0;
  }

  .h3 {
    font-family: "Plain";
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
  }

  //

  .b1 {
    font-family: "Plain";
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
  }

  .b2 {
    font-family: "Plain";
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
  }

  .b3 {
    font-family: "Plain";
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
  }

  .caption {
    font-family: "Plain";
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0;
  }

  .button-text {
    font-family: "Plain";
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
  }
}
