@layer utilities {
  .grid {
    width: 100%;
    // grid-gap: 0 1rem;

    @include ms-all {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
    }

    //

    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    // grid-gap: 0 1rem;
  }
}
