.not-found {
  height: 90vh;

  @include md {
    height: 100vh;
  }

  figure {
    @include md {
      transform: translate3d(15vw, 0, 0);
    }
  }

  &__frost {
    filter: blur(16px);

    // figure {
    //   top: -90vh;
    // }
  }
}
